<div id="sidebar">
    				<header><h1>About Us!</h1></header>
    				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini </p>
    				<header><h1>Contact Us Today!</h1></header>
    				<form>
    					<p><label>Name:</label> <input type="text" /></p>
    					<p><label>Phone:</label> <input type="text" /></p>
    					<p><label>Email:</label> <input type="text" /></p>
    					<p><label>Message:</label></p><p><textarea></textarea></p>
    					<p><input type="submit" value="Contact Us" onclick="alert('We will contact you shortly')" /></p>
    				</form>
    				<header><h1>Our Clients: </h1></header>
    				<p><img src="http://www.seoinc.com/images/client_logos/microsoft.jpg" alt="Microsoft"/></p>
    				<p><img src="http://www.seoinc.com/images/client_logos/att.jpg" alt="ATT"/></p>
    				<p><img src="http://www.seoinc.com/images/client_logos/sony.jpg" alt="Sony"/></p>
    				<p><img src="http://www.seoinc.com/images/client_logos/entrepreneur.jpg" alt="entrepreneur"/></p>
    			</div>
    		
    			<div id="content">
%content%
	
				</div>