<section> 
	<header><h1>Which tweet would you like to delete?</h1></header>
		<section> 
			<form id="tweet_form" name="tweet_form" id="tweet_form" action="?pagename=tweet_detlete" method="post">
				Enter the TweetID <input type="text" id="tweetSearch" name="tweetSearch" />
				<input type="submit" value="Search"/>
			</form>
			<img alt="img" src="http://a1.twimg.com/profile_images/1497500068/cake-logo_normal.png" /> 
		</section>
</section>



<!-- legend
just grab value they enter, and if there is no value, leave blank, otherwise you would have do this part in php: and just replace the %value% with actual values when u echo it.

<table class="rf-table">
				<tr>
					<th>Tweet ID</th>
					<th>Content</th>
					<th>Writer ID</th>
					<th>Poster ID</th>
					<th>Post Date</th>
					<th>Groups</th>
					<th>Status Code</th>
					<th>Comments</th>
				</tr>
					<!--row-0-start-->
				<tr>
					<td>%tweetID%</td><td>%tweetContent%</td><td>%writerID%</td><td>%posterID%</td><td>%postDate%</td><td>%groupsVal%</td><td>%statusCode%</td><td>%comments%</td>
				</tr>
				<!--row-0-end-->
</table>
-->