
<section> 
	<header><h1>All Queued Tweets</h1></header>
		<section> 
			<img alt="img" src="http://a1.twimg.com/profile_images/1497500068/cake-logo_normal.png" /> 
			<table class="rf-table">
				<tr>
					<th>Tweet ID</th>
					<th>Content</th>
					<th>Writer ID</th>
					<th>Categories</th>
					<th>Post Date</th>
					<th></th>
				</tr>
				
					<!--row-0-start-->
					<tr>
						<td>%tweetID%</td>
						<td>%tweetContent%</td>
						<td>%writerID%</td>
						<td>%categories%</td>
						<td>%postDate%</td>
						<td>
							<form style="float:left" action="?pagename=delete_queued" method="POST" onsubmit="return confirm('Delete tweet?')">
								<input type="hidden" value="%tweetID%" name="tweetID" />
								<input type="hidden" value="%writerID%" name="writerID" />
								<input type="submit" value="Delete" />
							</form></td>
						</tr>
					<!--row-0-end-->
				
			</table>			
			
		</section>				
</section> 
