<font style="color: Red; ">%errmsg%</font><form action="" method="POST">
Enter new user details:
<br />Username: %edit_username%
<br />Real Name: <input type="text" value="%real_name%" name="real_name">
<br />Password: <input type="password" value="%password%" name="password">
<br />Confirm Password: <input type="password" value="%password_confirm%" name="password_confirm"><br /><br />

 <br /> <br />
<input type="hidden" name="edit_username" value="%edit_username%"/>
<input type="submit" name="submit" value="Edit User"/>
</form>