
	<h1>List of all roles</h1>
	<p><a href="?pagename=users_roles_add">Create new role</a></p>
	<table class="rf-table">
		<tr>
			<th>Role Name</th>
			<th>Role Description</th>
			<th>Expires in</th>
			<th>Permissions</th>
			<th>Options</th>
		</tr>
		
		<!--row-0-start-->
		<tr><td style="vertical-align:top">%role_name%</td><td style="vertical-align:top">%role_description%</td><td style="vertical-align:top">%valid_until%</td><td style="vertical-align:top">%permissions%</td><td><a href='?pagename=users_roles_permissions&role_name=%role_name%'>Permissions</a> <a href='?pagename=users_roles_delete&role_name=%role_name%'>Delete</a></td></tr>
		<!--row-0-end-->
		
	</table>
	<br>
	<br>