
<h1>Create a new permission</h1>
<p>To cancel and return click <a href="?pagename=users_permissions_list">here</a></p>
<font style="color: Red; ">%errmsg%</font><form action="" method="POST">

<br />Permission name: <input type="text" value="%permission_name%" name="permission_name"><br>
<br />Description: <br />
<textarea name="permission_description" cols="40" rows="4" maxlength="140" >%permission_description%</textarea><br><br>


<input type="submit" name="submit" value="Add permission"/>
</form>